/* responsive starts here for mobie device max widht 400px */

@media screen and (max-width: 576px) {
  
  .body{
    max-width: 90%;
    margin: 50px 10px;
    padding: 10px;
  }

  header {
    max-width: 100%;
    margin-bottom: 0;
  }
  .nav-bar{ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 0px;
  }

  .nav-bar .logo-section{
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-bottom: 0px;
  }

   .nav-bar img{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 100px;
    margin-bottom: 0;
   }

  .nav-bar .menu-container {
    display: none;
    margin-bottom: 0px;
  } 

  .nav-bar .menu-nokta {

    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
  }
  .nav-bar .menu-nokta img {
    width: auto;
  }

  /* banner section starts here  */
  .banner {
    max-width: 100;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  .banner-title, .goat {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner .banner-img{
    align-items: center;
    width: 90%;
  }
  .goat {
    font-size: 45px;
  }

  .banner p {
    color: #534C64;
    font-size: 12px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 05px;
    text-align: center;
  }
  .btn-primary {
    font-size: 14px;
    color: white;
    padding: 8px 12px;
    border-radius: 48px;
    border: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin: 10px;
  }
  .btn-secondary {
    font-size: 14px;
    padding: 8px 12px;
    color: white;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    margin-bottom: 10px;
  }
 
  /* gamer section starts here  */
  .gamer {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .gamer .gamer-img {
    width: 100%;
  }
  .gamer .gamer-info{
    text-align: center;
    padding-top: 50px;
    width: 90%;
  }
  .gamer .gamer-title {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }

  .gamer-details {
    width: 70%;
    font-size: 14px;
    text-align: center;
    align-items: center;
    padding: 10px;
  }

  /* cards section starts here*/
  .videos {
    text-align: center;
    width: 90%;
    padding: 0;;
    margin: 0;
    margin-top: 10px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    align-items: center;
    justify-content: center;
  }

 /* hero section starts here  */
 .hero {
  flex-direction: column;
  text-align: center;
  padding: 0px;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}
.hero .hero-info{
 font-size: 12px;
  width: 100%;
 text-align: center;
 padding: 0;
 margin-bottom: 10px;
}
.hero .hero-title {
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}
.hero .hero-details {
  align-items: center;
}

/* footer section starts here  */

footer  {
  background-color: #0B0223;
  padding: 40px 5px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
footer .menu-footer{
  flex-direction: column;
  margin: 10px auto;
  gap: 5px;
}
}
